<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="toolbar">
  <h1>M</h1>
  <h2><a href="">Meilleur</a></h2>
  <div class="nav-bar">
    <ul class="nav">
      <li class="dropdown">
        <a href="https://en.wikipedia.org/wiki/Laptop" class="dropbtn">Laptops</a>
        <div class="dropdown-content">
          <a href="#">Lenovo</a>
          <a href="#">Acer</a>
          <a href="#">HP</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="https://en.wikipedia.org/wiki/Smartphone" class="dropbtn">SmartPhones</a>
        <div class="dropdown-content">
          <a href="#">Samsung</a>
          <a href="#">IPhone</a>
          <a href="#">Huawei</a>
        </div>
      </li>
      <li class="dropdown"><a href="https://en.wikipedia.org/wiki/Laptop" class="dropbtn">HeadPhones</a>
        <div class="dropdown-content">
          <a href="#">Airpods</a>
          <a href="#">Samsung Buds</a>
          <a href="#">Beats</a>
        </div>
      </li>
      <li class="dropdown"><a href="https://en.wikipedia.org/wiki/Smartphone" class="dropbtn">Tablets</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="log-logout">
    <ul class="log-right">
      <li><a routerLink="/login" routerLinkActive="active"><i class="fa fa-shopping-cart " style="font-size:30px"></i></a></li>
      <li><a><i class="fa fa-sign-in " style="font-size:30px"></i></a></li>
      <li><a><i class="fa fa-sign-out" style="font-size:30px"></i></a></li>
    </ul>
  </div>
</div>

